/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 12px;
  font-family: Arial, Helvetica, freesans, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
  float: left;
  width: 100%;
  background: black;
}

nav img {
  float: left;
  margin: 0.5%;
  padding-top: 0.2%;
}

nav li:first-child {
  border-left: 1px solid gray;
}

nav li {
  border-right: 1px solid gray;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ol li {
  float: left;
  width: 8.3333%;
  border-right: 1x solid white;
  font-weight: 700;
}

ol {
  list-style: none;
}

form input {
  width: 95%;
  border-radius: 1px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

input::placeholder {
  color: black;
  font-weight: 700;
}

nav ol li:last-child {
  padding: 0;
  padding-top: 0.7%;
  padding-left: 1%;
  padding-right: 1%;
  border: 0;
  width: 11%;
}

/* second section */

main {
  float: left;
}

main > section:first-child {
  float: left;
  width: 100%;
  padding: 1% 0;
}

main > section > h2 {
  float: left;
  width: 50%;
  text-align: start;
  color: rgb(65, 64, 65);
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
}

main > section h2 + h2 {
  text-align: end;
  color: rgb(142, 142, 142);
}

main > section + section {
  float: left;
  width: 50%;
}

/* main > section + section + section {
  float: left;
  width: 50%;
} */

main > section + section section {
  float: left;
  width: 50%;
}

/* second big section  */

main + section {
  padding-top: 1%;
}

main + section > h2 {
  float: left;
  width: 100%;
}

main + section section {
  float: left;
  width: 33.3333%;
}

main, main + section {
  margin: 1%;
}

main + section section h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2% 0.5%;
}

main img {
  width: 100%;
  padding: 2%;
}

main + section > h2:first-child {
  border-left: 4px solid red;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1%;
}

main>section>h2:last-child {
  font-weight: normal;
}

span {
  border-left: 2px solid red;
  padding: 0 3%;
  color: gray;
}

/* h1, p {
  padding: 4%;
} */

article {
  padding: 1% 1% 3% 1%;
}

nav ol li {
  padding: 1%;
}

main + section img {
  width: 100%;
  padding-top: 4%;
  padding-right: 4%;
}

main+section img:first-child {
  padding-left: 0;
}

main+section img:last-child {
  padding-right: 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.front {
  display: block;
  padding: 10% 0;
  margin: 0.5% 0;
  background: url("https://placekitten.com/600/345");
  background-size: cover;
}

/* .meowmeow { */
  /* background-image: linear-gradient(to top, 5% black);
  background: url("https://placekitten.com/300/170") 0 0 no-repeat; */
  /* background-size: cover; */
  /* float: left; */
  /* width: 50%; */
  /* height: auto; */
  /* padding: 10% 0% 0% 10%; */
  /* width: 300px;
  height: 170px; */
  /* margin-left: 30px;
  margin-top: 30px; */
/* } */

/* .second {
  padding: 1%;
} */



.meowmeow img {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, black), url("https://placekitten.com/300/170");
}

.meowmeow h1, .meowmeow span {
  position: relative;
  bottom: 200px;
  left: 20px;
  margin-bottom: 2%;
  margin-right: 15%;
}

.meowmeow h1 {
  padding-top: 20%;
  color: white;
  font-size: 2rem;
}